.about-me
	.portrait
		=image_tag "me_getting_first_place2", :class => "col-xl-12 col-lg-12 cold-md-12 col-sm-12"
	.introduction
		%p I am a 24 years old, applied computer science student. I started to learn programming in 2012, and before I was into computer hardware. Today, I am trying my best to learn and develop my skills even more.
		%p So far I had some experience with Java, C++, C#, Python, and Ruby with which I created this page(Rails). I managed team that won a 24h hackaton. Also created software diagnosing problems with hearing awarness, and done couple of freelancing projects.