// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-place{
	
	animation: fadein 2s;
	background-color: rgba(250,250,250,0.75);
	padding: 5% 0;
	text-align: center;
	p{
		font-family: 'Manuale', serif;
	}
}